.card-container {
    background-color: #343434;
    max-width: 28rem;
    height: 6rem;
    margin-bottom: 1rem;
    display: flex;

    .episode-cover {
        height: 100%;
        width: 6rem;
    }

    .content {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .description {
            font-weight: 700;
            width: 75%;
        }

        .favorite {
            width: 13px;
            height: 13px;
            cursor: pointer;
        }

        .play-button {
            border-radius: 9999px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 2.5rem;
            height: 2.5rem;
        }
    }

}
