.home-container {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 100%;
            border: 1px solid;
            border-color: rgb(34 197 94);
            margin-right: 10px;
        }

        h2 {
            font-weight: 700;
            font-size: 1.125rem;
            line-height: 1.75rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    footer {
        img {
            width: 30px;
            height: 30px;
            cursor: pointer;
        }

        img:first-child {
            margin-right: 50px;
        }
    }

}

