<div class="home-container">
    <div>
        <div class="header">
          <img src="assets/avatar.jpg" alt="Avatar">
          <h2>Shipit.io</h2>
        </div>
        <ng-container
          *ngIf="{
            episodes: episodes$ | async,
            episodesError: episodesError$ | async
          } as vm"
        >
          <ng-container *ngIf="vm.episodes as episodes; else loading">
            <app-card
              *ngFor="let episode of episodes; trackBy: trackEpisode"
              [name]="episode.name"
              [previewUrl]="episode.audio_preview_url"
              [image]="episode.images[0].url"
            >
            </app-card>
          </ng-container>
          <small *ngIf="vm.episodesError as error">{{ error.message }}</small>
        
          <ng-template #loading>
            <p *ngIf="!vm.episodesError"><i>Loading...</i></p>
          </ng-template>
        </ng-container>
    </div>
    <footer>
      <img src="assets/home.png" alt="Empty heart" (click)="showAll()">
      <img src="assets/heart-empty.png" alt="Empty heart" (click)="showFavs()">
    </footer>
</div>
